* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
    color: #B5DED0;
    font-family: system-ui;
    display: flex;
      justify-content: center; 
    align-items: center; 
    height: 100vh; 
    
  }
  
  ol {
    list-style: none;
    width: 300px; 
  }
  
  ol li {
    font-size: 1.1rem;
    background: rgb(23,23,23);
    margin: 7px 0;
    padding: 20px 30px; 
    cursor: pointer;
    position: relative;
    transition: all .3s;
    z-index: 5;
    
  }
  
  ol li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 5px;
    background: orange;
    transition: all .3s;
    z-index: -1;
    
  }
  ol li:hover::before{
    width: 100%;
    
  }
  
  ol li:nth-child(1)::before{
    background: #371F57;
  }
  ol li:nth-child(2)::before{
    background: #50468C;
  }
  ol li:nth-child(3)::before{
    background: #6E81BD;
  }
  ol li:nth-child(4)::before{
    background: #91BACF;
  }
  
  ol li:hover {
    transform: translateX(20px);
  }
  
  